<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Order</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/user/dashboard">Dashboard</a>
        <a class="nav-item nav-link active" href="/order">Order</a>
        <a class="nav-item nav-link" href="/bank/buy">Buy B</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row justify-content-center">

    <div th:if="${param.balance}">
      <div class="alert alert-danger">Not Enough Balance</div>
    </div>

    <div th:if="${param.srcNF}">
      <div class="alert alert-danger">Source Asset Not Found</div>
    </div>

    <div th:if="${param.destNF}">
      <div class="alert alert-danger">Destination Asset Not Found</div>
    </div>

    <div th:if="${param.eqSrcDest}">
      <div class="alert alert-danger">Source And Destination Are Equal</div>
    </div>


    <!--  order form  -->
    <div class="col">
      <h3>Order From</h3>

      <form method="post" role="form" th:action="@{/order/submit}" th:object="${req}" class="form-horizontal">
        <div class="form-group mb-3">
          <label class="control-label"> Source Asset Code</label>
          <input type="text" id="sourceCode" name="sourceCode" class="form-control" placeholder="Source Asset Code" th:field="*{sourceCode}"/>
        </div>

        <div class="form-group mb-3">
          <label class="control-label"> Destination Asset Code</label>
          <input type="text" id="destinationCode" name="destinationCode" class="form-control" placeholder="Destination Asset Code" th:field="*{destinationCode}"/>
        </div>

        <div class="form-group mb-3">
          <label class="form-label"> Price (Source Amount)</label>
          <input class="form-control" id="sourceAmount" name="sourceAmount" placeholder="Price (Source Amount)" th:field="*{sourceAmount}" type="number"/>
        </div>

        <div class="form-group mb-3">
          <label class="form-label"> Amount (Destination Amount)</label>
          <input class="form-control" id="destinationAmount" name="destinationAmount" placeholder="Amount (Destination Amount)" th:field="*{destinationAmount}" type="number"/>
        </div>

        <div class="form-group mb-3">
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
      </form>
    </div>

    <!--  open orders  -->
    <div class="col">
      <div class="row">
        <div class="col">

          <h3>a to b</h3>
          <br>
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>price (source amount)</th>
              <th>amount (destination amount)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o: ${exAToB}">
              <td th:text="${o.sourceAmount}"></td>
              <td th:text="${o.destinationAmount}"></td>
            </tr>
            </tbody>
          </table>


        </div>

        <div class="w-100"></div>
        <hr>
        <div class="col">

          <h3>b to a</h3>
          <br>
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>price (source amount)</th>
              <th>amount (destination amount)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o: ${exBToA}">
              <td th:text="${o.sourceAmount}"></td>
              <td th:text="${o.destinationAmount}"></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="w-100"></div>
    <hr>

    <!--  closed orders for current user  -->
    <div class="col">
      <h3>closed orders</h3>
      <br>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>price (source amount)</th>
            <th>amount (destination amount)</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="o: ${closed}">
            <td th:text="${o.source.code}"></td>
            <td th:text="${o.destination.code}"></td>
            <td th:text="${o.sourceAmount}"></td>
            <td th:text="${o.destinationAmount}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--  open orders for current user  -->
    <div class="col">
      <h3>open orders</h3>
      <br>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th>price (source amount)</th>
          <th>amount (destination amount)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o: ${open}">
          <td th:text="${o.source.code}"></td>
          <td th:text="${o.destination.code}"></td>
          <td th:text="${o.sourceAmount}"></td>
          <td th:text="${o.destinationAmount}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>